*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background-color: #E5E5E5;
}

.nav-pad{
    padding-left: 120px;
    padding-right: 120px;
}

.bg-self{
    background-color: #E5E5E5 !important;
}

.nav-space{
    margin-right: 48px;
    color: black;
}

.nav-letter{
    font-size: 18px;
    font-weight: 500;
    color: #25282B !important;
    font-family: 'Raleway', sans-serif;
}


.section1{
    padding: 0 120px 0 120px;
    margin-top: 52px;
}

.about-me{
    font-family: 'Playfair Display';
    font-style: normal;
    font-weight: 700;
    font-size: 48px;
}

.about-content{
    font-family: 'Nunito';
    font-style: normal;
    font-weight: 400;
    font-size: 24px;
    line-height: 32px;
    padding-right: 80px;
    margin-top: 32px;
}

.resume-btn{
    margin-top: 32px;
}

.resume{
    background-color: #FDC435;
    border-radius: 8px;
}

.pic-cont{
    width: 100%;
    height: 524px;
}

.img-fit{
    width: 100%;
    height: 100%;
}



.socials{
    margin-top: 149px;
    padding-bottom: 80px;
}

.social-cont{
    margin-bottom: 37px;
}

.social-fit{
    margin-right: 34px;
}

.creator{
    font-family: 'Nunito';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
}


@media only screen and (max-width: 550px){
    .section1{
        padding: 0;
    }

    .nav-pad{
        padding: 0 10px;
    }

    .img-fit{
        height: 300px;
    }

    .about-content{
        padding: 0;
    }

    .navbar-toggler{
        color: transparent !important;
        border: none;
        background-color: none !important;
        padding: 0;
        outline: none;
        box-shadow: none;
    }
}

@media only screen and (min-width: 550px) and (max-width: 1000px){
    .section1{
        padding: 0 50px;
    }

    .nav-pad{
        padding: 0 50px;
    }

    .img-fit{
        height: 80%;
    }


    .navbar-toggler{
        color: transparent !important;
        border: none;
        background-color: none !important;
        padding: 0;
        outline: none;
        box-shadow: none;
    }
}